nav{
    display: flex;
    background-color: wheat ;
    justify-content: space-between;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
}

body{
    margin: 0px;
    background-image: url(../img/pattern.jpg);

}

ul{
    list-style-type: none;

}

li{
    display: inline;
    margin-right: 20px;
}

a{
    text-decoration: none;

}

div{
    margin: 60px 150px 40px;
    padding: 30px;
    background-color: grey;

}

h1{
    text-align: center;

}

article{
    margin-top: 10px;
    border-bottom: 3px solid black;

}

footer{
    background-color: wheat;
    padding: 10px;

}

h5{

    text-align: center;
}